.card-heading{
    margin-bottom: 3.2rem;
}

.img-col{
   height: 30vh;
}

.img-col img{
    width: 100%;
    height: inherit;
}

.card-content{
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.super_hit{
    background-color: #7dcea0;
}

.average{
background-color: #f7dc6f;
}

.rating{
    padding: 0.3rem 1.8rem;
    color: #000;
    margin-left: 1.2rem;
    border-radius: 100rem;
   
}